body{
	margin: 0;
	padding: 0;
}
.container{
	/*display: grid;
	grid-template-areas:
	'header-logo' 'header-logo'
	'footer' 'footer';*/
	width: 100%;
	height: 100%;

}
.header{
	height: 200px;
	display: grid;
	grid-row: 2;
	background-color: #293745;
	color: white;
	font-family: "Verdana";
	font-size: 10pt;
	height: 
}
.header-logo{
	height: auto;
}
.header-nav,.header-logo{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.header-nav>div{
	margin: 25px;
}
.header-nav-products{
	position: relative;
	display: inline-block;
}

.header-nav-products-subproduct{
	display: none;
	position: absolute;
	min-width: 180px;
}
.header-nav-products-subproduct a{
	color: white;
	text-decoration: none;
	display: block;
}

.header-nav-products:hover .header-nav-products-subproduct{display: block;}

.main{
	display: flex;
	flex-direction: column;
}

.footer{
	display: flex;
	justify-content: space-between;
	background-color: #293745;
	color: white;
	font-family: "Verdana";
}

.footer-left>div>ul{
	list-style: none;
}

.footer-left-content>ul>li>a{
	text-decoration: none;
	color: white;
}
.footer-center{
	text-align: center;
}

.footer-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-title{
	font-size: 22px;
	font-family: "Verdana";
	color: #9c9c9c;
}

.order-form>form>span{
	font-size: 14px;
	font-family: "Verdana";
	color: #9c9c9c;
}

form{
	width: 100%;
	height: 87.5vh;
	padding-top: 8vh;
	text-align: center;
	background-color: #f4f4f4;
	font-family: sans-serif;
}

input[type=email], input[type=text], input[type=submit]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    outline: none;
}

input[type=submit]{
	background-color: #585858;
	cursor:pointer;
	color: #fff;
	font-weight: bold;
}

input[type=submit]:hover{
	background-color: #2f2f2f;
	transition: 1s;
}

.two-col input[type=text]{
 	width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    outline: none;
}

select, input[type=number] {
	width: 22%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus, select:focus, input[type=number]:focus{
	border: 1px solid #555;
	transition: 1s;
}

input::placeholder{
	color: #8d8d8d;
}