body{
	margin: 0;
	padding: 0;
}
.container{
	/*display: grid;
	grid-template-areas:
	'header-logo' 'header-logo'
	'footer' 'footer';*/


}
.header{
	display: grid;
	grid-row: 2;
	background-color: #293745;
	color: white;
	font-family: "Verdana";
	font-size: 10pt;
}

.header-nav,.header-logo{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.header-nav>div{
	margin: 25px;
}
.header-nav-products{
	position: relative;
	display: inline-block;
}

.header-nav-products-subproduct{
	display: none;
	position: absolute;
	min-width: 180px;
}
.header-nav-products-subproduct a{
	color: white;
	text-decoration: none;
	display: block;
}

.header-nav-products:hover .header-nav-products-subproduct{display: block;}

.footer{
	display: flex;
	justify-content: space-between;

}

.footer-left>div>ul{
	list-style: none;
}
.footer-center-content p{
	text-align: center;
}